@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline :none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root{
  --bg-color:#fff;
  --text-color: #000000;
  --main-color: #d31f6b;
}

html{
  font-size:62.5%;
  overflow-x: hidden;
}

body{
  background: var(--bg-color);
  color:var(--text-color);
  font-family: poppins;
}

section{
  min-height: auto;
  padding: 9%;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: url(../imagenes/cielo1.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  width: 20rem;
  cursor: pointer ;
  position: relative;
}

.navbar a, ul{
  font-size: 1.9rem;
  color:var(--text-color);
  margin-left: 4rem;
  list-style: none;
  transition: .3s;
  font-weight: bold;
}

.navbar li{
  display: inline-block;
}

.intro{
  background: linear-gradient(to bottom,#72dbf0, #fffaf6);
}

.texto1{
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
  isolation: isolate;
}

.texto1 p{
  font-size: 1.5rem;
  display: inline-block;
}

.mandarina a:hover, .mandarina a.active{
    color: #ff8a00; 
    font-size: 2.2rem;
}

.sandia a:hover, .sandia a.active{
    color:var(--main-color); 
    font-size: 2.2rem;
}

.kiwi a:hover, .kiwi a.active{
    color:#69c203; 
    font-size: 2.2rem;
}

.patio a:hover, .patio a.active{
  color: #ffea00; 
  font-size: 2.2rem;
}

.baño a:hover, .baño a.active{
  color: #dd5afb; 
  font-size: 2.2rem;
}

.volver a:hover, .volver a.active{
  cursor: pointer;
}

#menu-icon{
    font-size:3.6rem;
    color:var(--text-color);
    display:none;
}

.titulo{
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 5rem;
  isolation: isolate;
}
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides1,.mySlides2, .mySlides3, .mySlides4, .mySlides5  {
    display: none;
  }

  .mySlides1:first-of-type, .mySlides2:first-of-type, .mySlides3:first-of-type, .mySlides4:first-of-type, .mySlides5:first-of-type{
    display: block;
  }
  
  /* Next & previous buttons */
  .prev1, .next1, .prev2, .next2, .prev3, .next3,  .prev4, .next4, .prev5, .next5 {
    cursor: pointer;
    position: absolute;
    top: 65%;
    width: auto;
    margin-top: -1rem;
    padding: 1.5rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    user-select: none;
    background-color: #717171;
    isolation: isolate;
  }
  
  /* Position the "next button" to the right */
  .next1, .next2, .next3, .next4, .next5 {
    right: 0;
    border-radius: 1rem 0 0 1rem;
  }

  .prev1, .prev2, .prev3, .prev4, .prev5 {
    left: 0;
    border-radius: 0 1rem 1rem 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev1:hover, .next1:hover, .prev2:hover, .next2:hover, .prev3:hover, .next3:hover, .prev4:hover, .next4:hover, .prev5:hover, .next5:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #fff;
    text-shadow: .15rem .1rem #000000;
    font-size: 1rem;
    position: absolute;
    width: 100%;
    text-align: center;
    right:0;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #000000;
    font-size: 1rem;
    padding: .8rem 1.2rem;
    position: absolute;
    top: 1;
  }
  
  /* The dots/bullets/indicators */
  .dot1, .dot2, .dot3, .dot4, .dot5 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    top:20;
    isolation: isolate;
  }

  .active, .dot1:hover, .dot2:hover, .dot3:hover, .dot4:hover, .dot5:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


#mandarina{
    position: relative;
    background-color: #fff;
    /* You could have here background-color: #0000; in order to add a dark background to have more contrast */
}

#mandarina::before{
    content:"";
    position: absolute;
    background: url(../imagenes/mandarina-fondo.jpg) no-repeat;
    background-size:cover;
    inset:0;
    opacity: .5;
}

#sandia{
    position: relative;
    background-color: #fff;
    /* You could have here background-color: #0000; in order to add a dark background to have more contrast */
}

#sandia::before{
    content:"";
    position: absolute;
    background: url(../imagenes/sandia-fondo.jpg) no-repeat;
    background-size:cover;
    inset:0;
    opacity: .5;
}

#kiwi{
    position: relative;
    background-color: #fff;
    /* You could have here background-color: #0000; in order to add a dark background to have more contrast */
}

#kiwi::before{
    content:"";
    position: absolute;
    background: url(../imagenes/kiwi-fondo.jpg) no-repeat;
    background-size:cover;
    inset:0;
    opacity: .5;
}

#patio{
  position: relative;
  background-color: #fff;
  /* You could have here background-color: #0000; in order to add a dark background to have more contrast */
}

#patio::before{
  content:"";
  position: absolute;
  background: url(../imagenes/patio-fondo.jpg) no-repeat;
  background-size:cover;
  inset:0;
  opacity: .5;
}

#baño{
  position: relative;
  background-color: #fff;
  /* You could have here background-color: #0000; in order to add a dark background to have more contrast */
}

#baño::before{
  content:"";
  position: absolute;
  background: url(../imagenes/baño-fondo.jpg) no-repeat;
  background-size:cover;
  inset:0;
  opacity: .5;
}

.texto2{
  width: 100vw;
  background: linear-gradient(to bottom, #f5ddc3 ,#ceecf6);
  height: 10vh;
  margin-top: -5rem;
}

.texto2 p{
  font-size: 1rem;
  display: inline-block;
}

.pie{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: url(../imagenes/cielo1.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
}

.pie-texto p{
  font-size: 1.6rem;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

@media (max-width:1200px){
  .navbar a, ul{
      font-size: 1.4rem;
  }

  section{
      padding: 10rem 3% 2rem;
  }

  .pie{
      padding:2rem 3%;
  }

}

@media (max-width:980px){
  #menu-icon{
      display: block;
  }
  
  .navbar{
      position:absolute;
      top:100%;
      right:0;
      width:100%;
      padding:1rem 3%;
      background: var(--bg-color);
      border-top: .1rem solid rgba(0,0,0,.2);
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
      display:none;
  }

  .navbar ul ul{
      position:static;
      top:100%;
      right:0;
      width:100%;
      padding:1rem 3%;
      background: var(--bg-color);
      display:none;
  }

  .navbar.active{
      display: block;
  }

  .navbar li a{
      display: inline-block;
      font-size: 2rem;
      margin:2rem 0;
  }

  .navbar li{
      display:block;
      font-size: 2rem;
      margin:2rem 0;
  }

  .navbar .box{
      display: block;
      align-items: left;
      text-align: left;
      margin: -2rem;
  }
  
}

@media (max-width:660px){
  .instalaciones-img img{
      width:30vw;
  }

  .instalaciones-contenido .grande{
      width:35vw;
  }

}

@media (max-width:500px){
  html{
      font-size:50%;
  } 
}

@media (max-width:420px){
  html{
      font-size:45%;
  } 
}
