@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline :none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color:#fff;
    --text-color: #000000;
    --main-color: #d31f6b;
}

html{
    font-size:62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color:var(--text-color);
    font-family: poppins;
}

section{
    min-height: 70vh;
    padding: 10rem 9% 2rem; /* rem size is the percentage compared to its parent so in this case it's 10 times the size of its parent*/
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: url(../imagenes/cielo1.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    width: 20rem;
    cursor: pointer ;
    position: relative;
}

.navbar a, ul{
    font-size: 1.9rem;
    color:var(--text-color);
    margin-left: 4rem;
    list-style: none;
    transition: .3s;
    font-weight: bold;
}

.navbar li{
    display: inline-block;
}

.volver a:hover, .volver a.active{
    cursor: pointer;
    font-size: 2.2rem;   
}

#menu-icon{
    font-size:3.6rem;
    color:var(--text-color);
    display:none;
}

.servicios{
    background: linear-gradient(to bottom, #f4feff, #ddeefe ) ;
}

.servicios .titulo{
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 5rem;
    isolation: isolate;
}

.servicios h2{
    margin-bottom: 1rem;
}

.servicios .info{
    text-align: center;
    margin-bottom: 5rem;
}

.servicios .info p{
    font-size: 1.5rem;
}

.servicios-contenedor{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    margin-bottom: 10rem;
}

.servicios-contenedor .servicios-caja{
    flex: 1 1 100rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius:2rem ;
    text-align: center;
    border:.2rem solid var(--bg-color);
    transition:.5s ease;
    overflow: hidden;
    box-shadow: 5px 10px 5px #888888;
    background-color: #fff;
}

.servicios-contenedor .servicios-caja:hover{
    border-color:var(--main-color);
    transform:scale(1.02);
}

.servicios-caja .children{
    width: 10rem;
    display: block;
    margin: auto;
    margin-top: -2rem;
}

.servicios-caja .fork{
    width: 7rem;
    display: block;
    margin: auto;
    margin-top: -2rem;
    margin-bottom: 1rem;
}

.servicios-caja .clock{
    width: 6rem;
    display: block;
    margin: auto;
    margin-top: -2rem;
    margin-bottom: 1rem;
}

.servicios-caja .languages{
    width: 7rem;
    display: block;
    margin: auto;
    margin-top: -2rem;
    margin-bottom: 1rem;
}

.servicios-caja .sleeping{
    width: 8rem;
    display: block;
    margin: auto;
    margin-top: -2rem;
    margin-bottom: 1rem;
}

.servicios .servicios-caja a{
    color: var(--text-color);
}

.servicios h3{
    font-size: 2.6rem;
    display: inline;
    position: relative; bottom: 1rem;
}

.servicios-caja p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.servicios .servicios-title{
    font-weight: bold;
    text-decoration: underline;
}

.pie{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: url(../imagenes/cielo1.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

.pie-texto p{
    font-size: 1.6rem;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

@media (max-width:1200px){
    .navbar a, ul{
        font-size: 1.4rem;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .contacto{
        min-height: auto;
    }

    .pie{
        padding:2rem 3%;
    }

}

@media (max-width:500px){
    html{
        font-size:50%;
    } 
}

@media (max-width:420px){
    html{
        font-size:45%;
    } 
}
